.logo {
    height: fit-content;

    >a {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        gap: 16px;
        padding: 25px 50px 0 50px;

        >img {
            height: 70px;
        }

        >.logo_name {
            height: 24px;
        }
    }
}

h2 {
    color: var(--purple1);
    font-size: 1.444rem;
    padding-top: 35px;
    padding-bottom: 10px;
}

section {
    padding: 64px max(calc(50% - 720px), 64px); 
}

@media screen and (max-width:768px) {

    section {
        padding: 32px;
    }
}

@media screen and (max-width:480px) {

    section {
        padding: 16px;
    }

    .logo{
        >a {
            padding-left: 16px;
        }
    }
}