:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100dvh;
    padding: clamp(16px, 5.26vw - 3.7px, 72px);
    gap: clamp(16px, 5.26vw - 3.7px, 72px);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: clamp(16px, 5.26vw - 3.7px, 72px);

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-inline-start: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: fit-content;
    align-items: center;

    >img {
        height: 70px;
    }

    >.logo_name {
        height: 24px;
    }
}

.sign-up-link {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    min-width: max-content;
    width: 243px;

    >p {
        text-align: end;
    }
}

@media screen and (max-width:1280px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .logo {
        >img {
            height: 56px;
        }

        >.logo_name {
            height: 20px;
        }
    }

    .sign-up-link {
        align-items: center;
    }

}