/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #ECEEFE;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    height: 100dvh;
}